credentials*.json
*/**/credentials.json
.ipynb_checkpoint*
build/*
notebooks/credentials.json
notebooks/archive
notebooks/**/data/tmp/*
notebooks/data/coverageReporting/*
notebooks/.ipynb_checkpoints/*
vdp_python_tools/__pycache__
vdp_python_tools/tile_tools.egg-info
vdp_python_tools/credentials.json
vdp_python_tools.egg-info/
../.DS_Store
.DS_Store
.DS_Store/*
notebooks/cache
/.vs
*.pyc
notebooks/*/cache/*

notebooks/data
!notebooks/data/sample

notebooks/in_progress
notebooks/customer_specific

*.tiff
!notebooks/data/sample/*.tiff

*.tif
!notebooks/data/sample/*.tif

*.png
!notebooks/data/sample/*.png

*.cpg
!notebooks/data/sample/*.cpg

*.dbf
!notebooks/data/sample/*.dbf

*.prj
!notebooks/data/sample/*.prj

*.shp
!notebooks/data/sample/*.shp

*.shx
!notebooks/data/sample/*.shx

*.sbx
!notebooks/data/sample/*.sbx

*.sbn
!notebooks/data/sample/*.sbn

*.zip
!notebooks/data/sample/*.zip

*.las
!notebooks/data/sample/*.las

*.gpkg
!notebooks/data/sample/*.gpkg

*gpkg-*